<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <style>
    body {
      font-family: Arial, sans-serif;
      font-size: 12px;
    }

    h1 {
      text-align: center;
      font-size: 30px
    }

    h2 {
      text-align: center;
    }

    table {
      width: 100%;
      border-collapse: collapse;
      margin-top: 15px;
    }

    th,
    td {
      border: 1px solid #333;
      padding: 6px;
      text-align: left;
    }

    .right {
      text-align: right;
    }

    .center {
      text-align: center;
    }
  </style>
</head>

<body>
  <h1>Mama's Kitchen</h1>
  <h2><u>Restaurant Receipt</u></h2>
  <p><strong><u>Date:</u></strong> {{ bill.generated_at|date:"d M Y H:i A" }}</p>
  <p><strong><u>Table:</u></strong> {{ bill.order.table.number }}</p>
  <p><strong><u>Customer Name:</u></strong> {{ bill.order.customer.name|title }}</p>
  <p><strong><u>Customer Mobile:</u></strong> {{ bill.order.customer.mobile }}</p>
  <p><strong><u>Waiter:</u></strong> {{ bill.order.waiter.user.username }}</p>
  <hr />

  <table>
    <thead>
      <tr>
        <th>Sr. No.</th>
        <th>Item</th>
        <th>Qty</th>
        <th>Unit Price</th>
        <th>Total</th>
      </tr>
    </thead>
    <tbody>
      {% for item in bill.order.items.all %}
      <tr>
        <td>{{ forloop.counter }}</td>
        <td>{{ item.item.name|title }}</td>
        <td>{{ item.quantity }}</td>
        <td>{{ item.item.price }} /-</td>
        <td>{{ item.total_price|floatformat:2 }} /-</td>
      </tr>
      {% endfor %}
      <tr>
        <td colspan="4" class="right"><strong>Subtotal:</strong></td>
        <td>{{ bill.total }} /-</td>
      </tr>
      <tr>
        <td colspan="4" class="right">CGST ({{ bill.get_tax_settings.cgst }}%)</td>
        <td>{{ bill.cgst_amount|floatformat:2 }} /-</td>
      </tr>
      <tr>
        <td colspan="4" class="right">SGST ({{ bill.get_tax_settings.sgst }}%)</td>
        <td>{{ bill.sgst_amount|floatformat:2 }} /-</td>
      </tr>
      <tr>
        <td colspan="4" class="right">Tip:</td>
        <td>{{ bill.tip }} /-</td>
      </tr>
      <tr>
        <td colspan="4" class="right"><strong>Final Total:</strong></td>
        <td><strong>{{ bill.grand_total_with_tax|floatformat:2 }} /-</strong></td>
      </tr>
      <tr>
        <td colspan="4" class="right">Payment Method:</td>
        <td>{{ bill.payment_method }}</td>
      </tr>
    </tbody>
  </table>

  <p class="center" style="margin-top: 20px;">Thank you for dining with us! 🍽️</p>
</body>

</html>