{% extends 'base.html' %}
{% block content %}
<div class="container mt-5">
  <a href="{% url 'manager_dashboard' %}" class="btn btn-success"><i class="bi bi-arrow-left-circle"></i> Back</a>
  <div class="text-center">
    <h3><i class="bi bi-chat-dots"></i> Customer Feedback</h3>
  </div>

  <table class="custom-table">
    <thead>
      <tr>
        <th>Table</th>
        <th>Rating</th>
        <th>Comment</th>
        <th>Date-Time</th>
      </tr>
    </thead>
    <tbody>
      {% for fb in feedbacks %}
      <tr>
        <td>{{ fb.order.table.number }}</td>
        <td>{{ fb.rating }}★</td>
        <td>{{ fb.comment|default:"No comment" }}</td>
        <td>{{ fb.created_at|date:"d M Y H:i" }}</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
{% endblock %}