{% extends 'base.html' %}
{% block content %}
<div class="container mt-4">
  <a href="{% url 'menu_view' %}" class="btn btn-success mb-3"><i class="bi bi-arrow-left-circle"></i> Back to Menu
  </a>
  
<h3 class="mb-4"><i class="bi bi-clock-history"></i> Your Order Status</h3>
<div class="table-responsive">
<table class="custom-table">
  <thead>
    <tr>
      <th>Sr. No.</th>
      <th>Item</th>
      <th>Qty</th>
      <th>Kitchen Status</th>
      <th>Delivered?</th>
    </tr>
  </thead>
  <tbody>
    {% for item in order.items.all %}
    <tr class="text-center">
      <td>{{ forloop.counter }}</td>
      <td>{{ item.item.name }}</td>
      <td>{{ item.quantity }}</td>
      <td>
        {% if item.kitchen_status == 'pending' %}
          <span class="badge bg-secondary">Pending</span>
        {% elif item.kitchen_status == 'preparing' %}
          <span class="badge bg-warning">Preparing</span>
        {% elif item.kitchen_status == 'ready' %}
          <span class="badge bg-success">Ready</span>
        {% endif %}
      </td>
      <td>
        {% if item.is_delivered %}
          <span class="badge bg-success">✔ Delivered</span>
        {% else %}
          <span class="badge bg-danger">✘ Not Yet</span>
        {% endif %}
      </td>
    </tr>
    {% endfor %}
  </tbody>
</table>
</div>

</div>
<script>
  setTimeout(function() {
    location.reload();
  }, 30000); // 30 seconds
</script>
{% endblock %}

