{% extends 'base.html' %}
{% block content %}
<div class="container mt-5">
  <a href="{% url 'waiter_orders' %}" class="btn btn-outline-primary">View Orders</a>
  <h1 class="mt-4 text-center" style="color: brown;">Waiter Dashboard</h1>
  <h3 class="mt-4" style="color: brown;">Assistance Requests</h3>
  {% if requests %}
  <table class="custom-table">
    <thead>
      <tr>
        <th>Table Number</th>
        <th>Time</th>
        <th>Action</th>
      </tr>
    </thead>
    <tbody>
      {% for req in requests %}
      <tr class="text-center">
        <td>Table {{ req.table.number }}</td>
        <td>{{ req.timestamp|date:"H:i:s A" }}</td>
        <td>
          <a href="{% url 'resolve_request' req.id %}" class="btn btn-sm btn-success">
            <i class="bi bi-check-circle"></i> Mark as Resolved
          </a>
        </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
  {% else %}
  <p>No pending requests.</p>
  {% endif %}
</div>
{% endblock %}