{% extends 'base.html' %}
{% block content %}
<div class="container mt-5">
  <div class="text-center">
    <h3 class="text-center"><i class="bi bi-fire"></i> Kitchen Dashboard</h3>
  </div>

  <table class="admin-table">
    <thead>
      <tr>
        <th>Table No.</th>
        <th>Item</th>
        <th>Qty</th>
        <th>Status</th>
        <th>Assigned Waiter</th>
        <th>Action</th>
      </tr>
    </thead>
    <tbody>
      {% for item in items %}
      <tr>
        <td>{{ item.order.table.number }}</td>
        <td>{{ item.item.name|title }}</td>
        <td>{{ item.quantity }}</td>
        <td>
          {% if item.kitchen_status == 'pending' %}
          <span class="badge bg-secondary">Pending</span>
          {% elif item.kitchen_status == 'preparing' %}
          <span class="badge bg-warning">Preparing</span>
          {% elif item.kitchen_status == 'ready' %}
          <span class="badge bg-success">Ready</span>
          {% endif %}
        </td>
        <td>{{ item.order.waiter.user.username }}</td>
        <td>
          {% if item.kitchen_status != 'ready' %}
          <a href="{% url 'update_kitchen_status' item.id %}" class="btn btn-success">
            {% if item.kitchen_status == 'pending' %}
            Start Preparing
            {% else %}
            Mark Ready
            {% endif %}
          </a>
          {% else %}
          <i class="bi bi-check2-circle text-success"></i>
          {% endif %}
        </td>
      </tr>
      {% empty %}
      <tr>
        <td colspan="6">No pending items 🎉</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
{% endblock %}